body {
    background: #ebeadc;
    position: relative;

}

body:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    height: 450px;
    background: url("body_before.png") no-repeat center;
    background-size: 1280px;
    z-index: 0;
}

.breadcrumbs a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border-right: 2px solid white;
    transform: skew(-20deg);
    transition: all 150ms linear;
}

.breadcrumbs a:hover {
    background: #accbd3;
    margin: 0 20px 0 20px;
    color: black;
    transform: scale(1.3) skew(-20deg);
    transition: all 150ms linear;
}

#homeNav, .navbar, .BlockData .body div:first-child,
.BlockData .body div:last-child, #userMenu ul, .content .userInfo,
.content .body .note, .content .body .imgList, .footer,
.breadcrumbs a, #login-block{
    background: rgb(207, 195, 162);
}
.nav.navbar-nav.go {
    background: #9aafe5;
    transition: background 400ms ease-in;
}
.nav, a, #userClassText, .BlockData .body div:first-child, .BlockData .body div:last-child, #homeBar a {
    color: #000000;
}

#homeBar a:hover {
    color: #f8f8e7;
    text-shadow: 2px 2px 3px black;
}

#homeBar nav {
    color: black;
    box-shadow: 1px 1px 4px black;
}

#slider {
    margin-top: 40px;
    overflow: hidden;
    border-radius: 20px 0 20px 0;
    box-shadow: 2px 2px 3px black;
}

#logoTitle {
    text-align: center;

    color: #00b5f3;
    font-weight: 900;
    /*background: #a3d1be;*/
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    /*outline: 3px dashed white;*/
    /*outline-offset: -8px;*/
    /*box-shadow: 0 4px  5px #313131;*/;
}

#logoTitle h3 {
    text-shadow: 0 0 2px #2f2f2f, 1px 1px 2px #2f2f2f;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
}

#slider img {
    border: 5px solid rgb(163, 209, 190);
    margin-bottom: 10px;
    width: 100%;
    border-radius: 20px 0 20px 0;

}

#slider .img {
    display: none;
    float: left;

}

#l_logo {
    height: 300px;
    background: url("man1.png") no-repeat;
    background-size: contain;
}

#imgMan {
    background: url("imgMen.png") no-repeat bottom;

    background-size: contain;
    height: 300px;
    z-index: 999;

}

#imgManMobile {

    top: 80px;
    height: 200px;
    background: #00A6C7;

}

#nav {
    height: 40px;
    border: none;
}

#mainMenu {
    display: block;
    border: none;
}

#mainMenu li a {

    height: 40px;
}

#mainMenu > li:last-child > span {
    display: block;
    padding: 10px 12px 0 12px;
    height: 40px;
    border-radius: 3px 3px 0 0;

}

#mainMenu > li:last-child > span:hover {
    background: #ededed;
    cursor: pointer;

}

.mainMenu-stage-a {
    transform: scale(0.2);
    opacity: 1;
}

.mainMenu-stage-b {
    transform: rotate(360deg) scale(1);
    opacity: 1;
    transition: all 300ms ;
}

.form-control {
    margin-top: 3px;
}

#login-block {
    position: fixed;
    overflow: hidden;
    top: 45px;
    box-shadow: 2px 2px 3px black;
    border: 2px solid lightslategray;
    border-radius: 0 0 20px 20px;
    z-index: 150;
}

#login-block .info{
    position: relative;
    background: white;
    font-weight: bold;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    opacity: 0;
    margin-top: 10px;
    padding: 3px 5px 3px 5px;
    display: inline-block;
}

#login-block .info:before {
    content: '';
    position: absolute;
    background: url("components/content-more-item-l.png") no-repeat;
    background-size: cover ;
    top: 0; bottom: 0; left: -15px;
    width: 20px;
}

#login-block .info:after {
    content: '';
    display: inline;
    position: absolute;
    background: url("components/content-more-item-r.png") no-repeat;
    background-size: cover ;
    top: 0; bottom: 0; right: -15px;
    width: 20px;
}

#login-form, #reg-form {
    display: block;
    position: absolute;
}
#reg-form{
    opacity: 0;
    padding-top: 10px;
}
#reg-form .btn-left div:first-child, #reg-form .btn-left div:last-child{
     background: white;
     width: 40px;
     height: 110px;
     margin-left: 5px;
 }
#reg-form .btn-left{
    cursor: pointer;
}
#reg-form .btn-left:hover div:first-child{
    background: linear-gradient(to left, slategray, white);
    box-shadow: 2px 2px 3px black;
}
#reg-form .btn-left:hover div:last-child{
    background: linear-gradient(to left, slategray, white);
    box-shadow: 2px 2px 3px black;
}
#reg-form .btn-left div:first-child{
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}
#reg-form .btn-left div:last-child{
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
}

#reg-form .btn-right div:first-child, #reg-form .btn-right div:last-child{
    background: white;
    width: 40px;
    height: 110px;
    margin-left: -20px;
}
#reg-form .btn-right{
    cursor: pointer;
}
#reg-form .btn-right:hover div:first-child{
    background: linear-gradient(to right, slategray, white);
    box-shadow: -2px 2px 3px black;
}
#reg-form .btn-right:hover div:last-child{
    background: linear-gradient(to right, slategray, white);
    box-shadow: -2px 2px 3px black;
}
#reg-form .btn-right div:first-child{
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
}
#reg-form .btn-right div:last-child{
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}



.form-shadow {
    padding: 10px;
    overflow: hidden;
    border-radius: 0 20px 0 20px;
    box-shadow: inset 1px 1px 5px black,
    2px 2px 10px white;
}

#userClassText {
    border-right: 1px solid white;
    font-size: 16pt;
    height: 41px;
    background: #95d2c0;
    padding-top: 8px;
}

.BlockData {
    padding: 10px 2px 10px 10px;

}

.BlockData > .body {
    margin-bottom: 30px;
    box-shadow: 0 0 10px;
}

.BlockData > .body div {
    padding: 2pt 1pt 1pt 3pt;

}

.content {
    margin-bottom: 20px;
}

.content .userInfo {
    height: 50px;
    box-shadow: 0 0 5px black;
}
.content .userInfo .userInfo-element {
    padding: 3px 0 0 15px;
}
.content .userInfo .userInfo-element .element {
    font-family: "Arial Black", arial-black;
    font-size: 0.9em;
    position: relative;
    padding: 1px;
    margin: 1px 1px 1px 5px;
    background: white;
}
.content .userInfo .userInfo-element .element:before {
    content: '';
    position: absolute;
    background: url("components/content-more-item-l.png") no-repeat;
    background-size: cover ;
    top: 0; bottom: 0; left: -15px;
    width: 15px;
}
.content .userInfo .userInfo-element .element:after {
    content: '';
    position: absolute;
    background: url("components/content-more-item-r.png") no-repeat;
    background-size: cover ;
    top: 0; bottom: 0; rigth: 0;
    width: 15px;
}
.content .userInfo .more{
    position: relative;
    height: 100%;

}
.content .userInfo .more input {
    position: absolute;
    left: 30px; top: 0; bottom: 0;
    width: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 100;
}
.content .userInfo span.more-label{
    padding: 13px 0 0 10px;
    position: absolute;
    display: block;
    background: white;
    width: 40px;
    top: 0; bottom: 0;
    border-radius: 15px 0 0 15px;
    z-index: 101;
    transition: transform 300ms linear;
}
.content .userInfo span.more-open{
    box-shadow: -1px 0 2px #000000;
    transform: rotate(180deg);
    transition: all 300ms linear;
}
.content .body {
    position: relative;
    background: white;
    border: 1px solid gray;
    height: 300px;
    box-shadow: 0 0 10px;
    border-radius: 0 15px 0 0;
    overflow: hidden;
}

.content .body .text {
    font-size: 10pt;
    white-space: pre-wrap;
    padding: 5px 5px 0 10px;
}


.content .body .note {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    border-radius: 0 15px 0 0;
    cursor: pointer;
    position: relative;
    height: 50px;
    box-shadow: 0 1px 4px black;
}

.content .body .imgList {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 7px 5px 5px 5px;
    height: auto;
    max-height: 60px;
    overflow: hidden;
    box-shadow: 0 -2px 3px white, 0 -2px 6px white;
}

.content .body .imgList img {
    margin-right: 1px;
    margin-bottom: 5px;
    box-shadow: 0 0 4px black;
}

#newMenu {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    opacity: 0;
    height: 0;
}

#id {
    display: block;
    background: #000000;
}

.order-view {
    margin-bottom: 30px;
    background: white;
    box-shadow: 2px 2px 4px black,
    inset 2px 2px 4px white;
    transition: 300ms linear;
}

.order-view:hover {
    box-shadow: 2px 2px 4px black, 2px 2px 7px black, 2px 2px 15px black,
    inset 2px 2px 4px white;
    transform: scale(1.08);
    transition: transform 300ms linear;
    z-index: 1000;
}

.order-view:hover .row:first-child {
    background: rgba(163, 209, 190, 0.93);
    transition: all 500ms linear;
}

.order-view:hover .row.items {
    background: rgba(163, 209, 190, 0.93);
    transition: all 500ms linear;
}

.order-view .row:first-child, .order-view .row.items {
    background: rgba(163, 209, 190, 0.51);
    box-shadow: 1px 1px 2px gray;
    padding: 5px 0 5px 0;
}

.order-view .order-text {;
    padding: 10px;
    transition: all 300ms linear;
}

.order-view .order-text:hover {
    background: #ffffff;
    transition: all 300ms linear;
}

/*---------*/
.client {
    position: relative;
    margin-bottom: 30px;
    box-shadow: 2px 2px 4px black,
    inset 2px 2px 4px white;
    transition: 300ms linear;
}

.client.complete, .order-view.complete {
    position: relative;
}

.client.complete .order-text textarea {
    overflow: hidden;
    text-indent: 0;

}

.client.complete .order-text textarea, .client .order-text textarea, .client .order-text .hid {
    margin: 0;
    resize: none;
    overflow: hidden;
    white-space: pre-wrap;
    display: block;
    width: 100%;
    height: auto;
    /*background: #00A6C7;*/
}

.client.complete:after, .order-view.complete:after {
    content: '';
    display: block;
    background: url("completed.png") no-repeat center rgba(163, 209, 190, 0.65);
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.client #date_complete, .client #date_start {
    background: none;
    border: none;
}

.client .row:first-child {
    background: rgb(163, 209, 190);
    transition: all 500ms linear;
}

.client .row:last-child {
    background: rgb(163, 209, 190);
    transition: all 500ms linear;
}

.client + div {
    transition: all 200ms linear
}

.client .row:first-child, .client .row:last-child {
    background: rgba(163, 209, 190, 1);
    box-shadow: 1px 1px 2px gray;
    padding: 5px 0 5px 0;
}

.client .order-text {;
    transition: all 300ms linear;
}

/*---------*/
#back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(100, 100, 100, 0.59);
}

#service-prev {
    position: fixed;
    top: 100px;
    left: 280px;
    right: 280px;
    bottom: 50px;
    z-index: 1001;
    background: rgba(255, 255, 255, 1);
    border: 5px solid #a3d1be;
    font-size: 11pt;
    overflow: auto;
}

#back > span {
    background: #a3d1be;
    font-size: 12pt;
    padding: 3px 10px 3px 10px;
    display: inline;
    position: relative;
    z-index: 1002;
    left: 280px;
    opacity: .99;
    top: 80px;
    cursor: pointer;
}

#back > span:before {
    content: '';
    display: block;
    position: absolute;
    background: #a3d1be;
    top: 0;
    right: 0;
    bottom: 3px;
    left: 0;
    z-index: -1;

}

#service-prev, #back > span:before {
    box-shadow: 0 0 3px black;
}

#service-prev > div {
    padding: 10px;
    margin: 8px;
}

#service-prev > div {

    box-shadow: 0 0 5px black;
}

#service-prev > .items > div {
    display: inline;
    padding: 0 25px 0 0;
}

#service-prev span:first-child {
    padding-left: 10px;
}

#service-prev > .title {

    text-align: center;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
    background: #a3d1be;
}

#service-prev > .content {
    margin-top: 0;
    border: 3px solid #a3d1be;
    border-top: none;
    min-height: 250px;
    white-space: pre-wrap;
    margin-bottom: 0;
}

#service-prev > .img-list {

    white-space: nowrap;
    margin-top: 0;
    background: #a3d1be;
    overflow: auto;
}

#service-prev > .img-list img {
    outline: 2px solid #ffffff;
    margin: 0 4px 0 4px;
    box-shadow: 3px 3px 4px black;
}

#service-prev input {
    margin-bottom: 10px;
}

#commentBlock {
    background: #a3d1be;

}

#commentBlock span[id^="error_"] {
    font-weight: bold;
    display: inline;
    margin: 2px 0 2px 10px;
    color: red;
    font-size: 12pt;
}

#commentBlock span:first-child {
    display: block;
    margin: 0 0 5px 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#commentBlock textarea {
    width: 100%;
    height: 80px;
}

#commentList {
    background: white;
}

#commentList > .comment:nth-child(odd), #myComment > .comment:nth-child(odd) {
    background: #dddddd;
}

#commentList .owner, #commentList .owner.comment:nth-child(odd), #myComment .owner.comment:nth-child(odd) {
    background: #a3d1be;
}

#commentList > .comment, #myComment > .comment {
    padding: 5px 5px 3px 2px;
    min-height: 60px;
}

#commentList > .comment > p, #myComment > .comment > p {
    padding: 15px 0 0 10px;
}

#commentList > .comment > span, #myComment > .comment > span {
    display: inline;
    font-weight: normal;
    font-style: italic;
    color: #000000;
    font-size: 10pt;
    padding: 0 0 0 10px;

}

#service-edit {
    position: relative;
}

#options .row.opt {
    width: 100%;
    padding: 3px 0 3px 0;
    margin: 2px 0 2px 0;
    background: none;
    transition: background 200ms;

}

#options .row.opt:hover div:first-child {
    padding-left: 0px;
    transition: all 800ms;
}

#options .row.opt:hover div:first-child {
    font-weight: bold;
    padding-left: 100px;
    transition: padding-left 800ms;
}

#options .row.opt:hover {

    background: #a3d1be;
    transition: background 800ms;
}

#myUI {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    background: #f4f4f4;
    z-index: 999;
    box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    -o-box-shadow: 0 0 5px black;
    -webkit-box-shadow: 0 0 5px black;
    opacity: 0;
}

#myUI div {
    opacity: 0;
    padding: 10px;
}

#myUI div:last-child {
    font-weight: 900;
    font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif;
    margin-top: -10px;
}

#myUI textarea {
    resize: none;
    width: 100%;
}

#myUI textarea:active {
    border: none;
}

.ajax-loader1 {
    display: none;
    margin-left: 25%;
    height: 20px;
    width: 50%;
    background: url("ajax-loader.gif") no-repeat;
    background-size: contain;
}

.compliteBefore {

    display: block;
    position: absolute;
    width: 0%;
    height: 5px;
    /*background: #a3d1be;*/
    background: #468b50;
}

.curs-help {
    cursor: help;
}

.hideFile {
    display: block;
    opacity: 0;
    position: fixed;
}

.progress-bar2 {
    background: url("ajax-loader2.gif");
    margin: 10px auto 50px auto;
    display: block;
    height: 32px;
    width: 32px;
}

.progress-bar3 {
    background: url("ajax-loader3.gif") no-repeat center;
    background-size: contain;
    display: block;
    height: 20px;
    width: 78px;
}

.regForm {
    text-shadow: 0 0 3px white, 0 0 4px white, 0 0 5px white;
    height: 40px;
    display: block;
}

.block-img img {
    margin: 4px;
    box-shadow: 0 0 4px black;
}

.block-img a {
    text-decoration: none;
}

#carousel-example-generic {
    position: relative;
    width: auto;
    box-shadow: 2px 2px 3px black;
    z-index: 2;
}

#carousel-example-generic:before {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    right: 50%;
    bottom: 5px;
    left: 10px;
    box-shadow: 5px 5px 20px 10px black;
    transform: rotate(-2grad);
}

#carousel-example-generic:after {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
    bottom: 5px;
    left: 50%;
    box-shadow: -5px 5px 20px 10px black;
    transform: rotate(2grad);
    z-index: -1;
}

#carousel-example-generic img {
    border: 4px solid white;
}

.footer {
}

.link_normal:hover {
    text-decoration: none;
}

.well_type1 {
    background: #2aabd2;
}

.preform-text {
    white-space: pre-wrap;
}

.errorMessage {
    color: red;
}
